.questions {
  ul {
    max-width: 740px;
    margin: 0 auto;
    padding: 0;
  }

  li {
    margin-bottom: 200px;
    list-style: none;
  }

  a {
    text-decoration: none;
    color: #000;
  }

  .questionCard {
    padding: 15px 15px 30px;
    background-color: #FFA103;
  }

  .questionCardBody {
    padding: 30px 50px;
    min-height: 25vh;
    background-color: #ffffff;
    background-image: url('../public/images/transparent.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 10px;
    font-size: 36px;
    font-weight: bold;

    p {
      margin: 60px auto 40px;
    }
  }

  .answer {
    text-align: left;
    padding: 20px;
    background-color: #ffffff;
    font-size: 24px;
  }
}

@media (max-width: 670px) {
  .questionCardBody {
    padding: 30px 20px;
    font-size: 24px;
  }

  .answer {
    font-size: 18px;
  }
}