.hero {
  max-width: 700px;
  margin: 0 auto 100px;
  padding: 0 20px 20px;
  background-color: #ffffff;

  img {
    width: 250px;
    display: block;
    margin: 0 auto 10px;
  }

  .links {
    display: flex;
    justify-content: space-between;

    a {
      width: 42%;
      padding: 10px 20px;
      background-color: #494949;
      text-decoration: none;

      svg {
        font-size: 19px;
        margin-right: 15px;
      }
    }

    .github {
      color: #ffffff;
      border: 1px solid #494949;
      &:hover {
        color: #494949;
        background-color: white;
      }
    }

    .twitter {
      color: #00acee;
      border: 1px solid #494949;
      &:hover {
        color: #ffffff;
        background-color: #00acee;
        border: 1px solid #00acee;
      }
    }
  }
}

@media (max-width: 670px) {
  .hero {
    img {
      width: 200px;
    }

    .links {
      flex-direction: column;
      a {
        width: 90%;
        margin: 0 auto 5px;
      }
    }
  }
}