.wrapper {
  max-width: 740px;
  margin: 0 auto;
  padding: 0;
}

.questionCard {
  padding: 15px 15px 30px;
  background-color:  #FFA103;
}

.questionCardBody {
  padding: 30px 50px;
  min-height: 30vh;
  background-color: #ffffff;
  background-image: url('../../src/transparent.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 10px;
  font-size: 36px;
  font-weight: bold;

  p {
    margin: 50px auto;
  }
}

.answer {
  background-color: #ffffff;
}

@media (max-width: 670px) {
  .questionCardBody {
    padding: 30px 20px;
    font-size: 24px;
  }
}